.results-numbers {
  display: grid;
  grid-template-columns: repeat(7, auto) 1fr;
  grid-gap: 1vw;
  padding: 1vw 0vw;
}

.result-circle {
  background: white;
  border-radius: 50%;
  border: 1px solid black;
  width: 5vw;
  height: 5vw;
  text-align: center;
  line-height: 5vw;
  font-weight: bold;
  color: black;
}

.result-circle:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}


.showing {
  background: steelblue;
  border: none;
  color: white;
}

.showing-pb {
  background: slategrey;
  border: none;
  color: white;
}